body {
  color: #40515E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.top-container {
  background-color: #A2DBFA;
  position: relative;
  padding-top: 100px;
}

.top-cloud-img {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud-img {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.pro {
  text-decoration: underline;
}

.intro {
  margin: auto;
  width: 30%;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.lovelybori-img {
  width: 12%;
}

.keyboard-img {
  margin-right: 30px;
  float: left;
  width: 16%;
}

.notes-img {
  margin-left: 30px;
  float: right;
  width: 15%;
}

h1 {
  margin: 70px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #39A2DB;
  font-size: 5.625rem;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #39A2DB;
  font-size: 2.5rem;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #125D98;
}

p {
  line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;

}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #125D98;
  padding: 50px 0 20px;
}

a {
  color: #053742;
  font-family: 'Merriweather', serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.btn {
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #EEEEEE;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   font-weight: 200;
   padding: 15px;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   background: #1E62D0;
   border: solid #337FED 1px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   text-decoration: none;
}
